:root {
  --sl-content-width: 50rem;
  --sl-text-5xl: 3.5rem;
}

body {
	font-family: 'Noto Serif TC', 'Noto Serif SC', 'Noto Serif Chinese', Georgia, serif;
}

.sl-markdown-content {
	text-align: justify;
}
