@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --font-family: "Noto Serif", serif;
  --font-family-heading: "Noto Serif", serif;
}

html,
body,
#app {
  font-family: "Noto Serif", serif;
  text-align: justify;
}

p,
li,
blockquote,
.vp-doc p,
.vp-doc li,
.vp-doc blockquote {
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6 {
  font-family: "Noto Serif", serif;
  text-align: left;
}
