
$vp-font: '"Noto Serif TC"';
$vp-font-heading: '"Noto Serif TC"';
$vp-font-mono: '"Noto Serif TC"';

@font-face {
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/noto-serif-tc-subset.woff2") format("woff2");
}

:root {
  --vp-font: "Noto Serif TC";
  --vp-font-heading: "Noto Serif TC";
  --vp-font-mono: "Noto Serif TC";
  --vp-c-text: #000;
  --vp-c-text-mute: #000;
  --vp-c-text-subtle: #000;
  --vp-c-accent: #0f5132;
  --vp-c-accent-bg: #0f5132;
  --vp-c-accent-hover: #0b3d26;
  --vp-c-accent-text: #fff;
}

.vp-doc,
.vp-page,
.main-wrapper,
.theme-hope-content,
.vp-content,
.vp-doc .theme-default-content,
.theme-default-content {
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif TC";
}
