
$vp-font: '"Source Han Serif TC", "PingFang TC", "Microsoft JhengHei", serif';
$vp-font-heading: '"Source Han Serif TC", "PingFang TC", "Microsoft JhengHei", serif';
$vp-font-mono: '"Source Han Serif TC", "PingFang TC", "Microsoft JhengHei", serif';

:root {
  --vp-font: "Source Han Serif TC", "PingFang TC", "Microsoft JhengHei", serif;
  --vp-font-heading: "Source Han Serif TC", "PingFang TC", "Microsoft JhengHei", serif;
  --vp-font-mono: "Source Han Serif TC", "PingFang TC", "Microsoft JhengHei", serif;
  --vp-c-text: #000;
  --vp-c-text-mute: #000;
  --vp-c-text-subtle: #000;
}

.vp-doc,
.vp-page,
.main-wrapper,
.theme-hope-content,
.vp-content,
.vp-doc .theme-default-content,
.theme-default-content {
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Han Serif TC", "PingFang TC", "Microsoft JhengHei", serif;
}
